.ant-table-content {
  th.ant-table-cell {  
    padding: 0;
    height: 30px;
  }
}
.column {
  display: flex;
  height: 42px;
}
.column .text {
  white-space: nowrap;
  padding: 0 2px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column .btn {
  cursor: pointer;
  width: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column .btn:hover{
    background: #e5e5e5;
}

.bool-true {
  color: blue;
}
.bool-gray {
  color: gray;
}

.table-filter-number{
  padding: 8px;
  width: 204px;
  .custom {
    .custom-title {
      padding: 5px 0;
    }
  }
  .number-range {
    .number-range-input {
      width: 70px;
    }
    .number-range-with {
      padding: 0 15px;
    }
  }
  .footer {
    .footer-btn {
      cursor: pointer;
    }
    .reset-default {
      float: right;
    }
    .confirm {
    
    }

  }
}

